<div class="col-lg-4 d-flex align-items-center justify-content-end mb-3">
	<div class="bg-dark text-white p-2 font-weight-bold data mx-auto mx-lg-0">{{ content.field_link }}</div>
</div>
<div class="col-lg-8 mb-3">
	<div class="card mb-3 w-75 bg-transparent border-0">
	  <div class="row no-gutters">
		<div class="col-md-4 img-circle text-right">
		  {{ content.field_photo }}
		</div>
		<div class="col-md-8 d-flex align-items-center">
		  <div class="card-body">
			<h6 class="card-subtitle mb-2 text-muted">{{ content.field_sub_header }}</h6>
			<h5 class="card-title text-white">{{ content.field_header }}</h5>
			<p class="card-text">{{ content.field_description }}</p>
		  </div>
		</div>
	  </div>
	</div>
</div>
