<div class="screen3 text-white py-5 text-center d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-12 description">
				<h5 class="sub-header">{{ content.field_sub_header }}</h5>
				<h3 class="mb-4">{{ content.field_header }}</h3>
				<div class="col-lg-8 mx-auto">{{ content.field_description }}</div>
				<a class="btn btn-danger btn mt-3" href="{{ content.field_link }}" role="button" data-fancybox="gallery">{{ content.field_name_link }}</a>
			</div>
		</div>
	</div>
</div>