<!DOCTYPE html>
<html lang="ru">
  <head>
    <head-placeholder token="{{ placeholder_token }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body{{ attributes.addClass('h-100 ') }}>
    {{ page_top }}
    {{ page }} 
    {{ page_bottom }}
	<a href="#" class="scrollup d-block d-lg-none" style="display: inline;">Наверх</a>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>