<div class="top-line py-2">
	<div class="container">
		<div class="row align-items-start align-items-md-center">
			{{ page.top_line }}
		</div>
	</div>
</div>
<header class="pt-3">
<div class="bg-header position-absolute">
<div class="video-block">
	<video height="100%" width="auto"  no-controls autoplay loop playsinline muted>
	<source src="/themes/custom/battle/images/bg-1.mp4" type='video/mp4' />
	</video>
</div>
</div>
	<div class="container">
		<div class="row align-items-start align-items-md-center">
			{{ page.header }}
		</div>
	</div>
</header>

  {{ page.highlighted }}

  {{ page.help }}
  
<main role="main" class="flex-grow-1">
	<div class="layout-container frontPage">
		<div class="content">
		  {{ page.breadcrumb }}
		  {{ page.content }}
		</div>
	</div>
</main>

<footer class="mt-5">
	<div class="container h-100">
		{{ page.footer }}
	</div>
</footer> 






